<div class="media">
  <div class="wrapper media-wrapper">
    <h2 class="section-heading">Media and press release</h2>

    <div class="media__container">
      <div class="media__item" *ngFor="let item of contents">
        <div class="media__item__img-container">
          <img src="{{ item.imgLink }}" alt="Media Image" width="300" height="226">
          <div class="overlay">
            <a routerLink="{{ item.mediaLink }}" target="_blank" class="btn btn-primary">Learn More</a>
          </div>
        </div>
        <div class="media__item__detail-container">
          <h4>{{ item.heading }}</h4>
          <div class="media__item__detail-container__date-publisher">
            <span class="date">{{ item.date }}</span>
            <span class="publisher">{{ item.publisher }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- Adding footer for the website. -->
<app-footer></app-footer>