* {
  box-sizing: border-box;
  user-select: none;
}

html {
  height: 100%;
}

body {
  padding-bottom: 162px;
  position: relative;
  margin: 0;
  min-height: 100%;

  @include fullHeightNavbar {
    padding-bottom: 212.3px;
  }
}

a:hover {
  cursor: pointer;
}

.padding-on {
  padding-bottom: 212.3px;

  @include atMedium {
    padding-bottom: 162px;
  }
}

.padding-off {
  padding-bottom: 0;
}

.wrapper {
  padding: 0 10px;
  max-width: 1200px;
  margin: 0 auto;
}

.section-heading {
  @include chivoRegular;
  font-size: 24px;
  margin: 0 0 4px;
  // padding-top: 13px;
  padding-top: 30px;
  text-align: center;

  @include atMedium {
    font-size: 50px;
    margin: 0 0 13px;
    padding-top: 54px;
  }
  @include atLarge {
    font-size: 40px;
    margin: 0 0 6px;
    padding-top: 23px;
  }
  @include atLarger {
    font-size: 50px;
    margin: 0 0 13px;
    padding-top: 42px;
  }
}

.section-text {
  @include openSansLight;
  font-size: 15px;

  @include atMedium {
    font-size: 20px;
  }
  @include atLarge {
    font-size: 20px;
  }
  @include atLarger {
    font-size: 20px;
  }
}